<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](https://mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko) and Vadim Shestopalov (@vchulski). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

# <center>Assignment #1. Fall 2019
## <center>Exploratory data analysis of Olympic games with Pandas
    
<img src='../../img/olympic_logo.png' width=50%>

Prior to working on the assignment, you'd better check out the corresponding course material:
 - [Exploratory data analysis with Pandas](https://nbviewer.jupyter.org/github/Yorko/mlcourse_open/blob/master/jupyter_english/topic01_pandas_data_analysis/topic1_pandas_data_analysis.ipynb?flush_cache=true), the same as an interactive web-based [Kaggle Kernel](https://www.kaggle.com/kashnitsky/topic-1-exploratory-data-analysis-with-pandas)
 - first lectures in mlcourse.ai [YouTube playlist ](https://www.youtube.com/watch?v=QKTuw4PNOsU&list=PLVlY_7IJCMJeRfZ68eVfEcu-UcN9BbwiX) 
 - you can also practice with demo assignments, which are simpler and already shared with solutions: [A1 demo](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset), [solution](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset-solution)

### Your task is to:
 1. write code and perform computations in the cells below
 2. choose answers in the [webform](https://docs.google.com/forms/d/1JxhQ9Bg4OpM3E5N47ZuRbILgDuMRbvEnUbDMZK8L-NU). Solutions will be shared only with those who've filled in this form 
 3. submit answers with some email and **remember it**! This will be your ID during the course. Specify your real full name in the form as well (no nicks allowed in the final top-100 [rating](https://mlcourse.ai/rating)). If in doubt, you can re-submit the form till the deadline for A1, no problem, but stick to only one email.
 
### <center> Deadline for A1: 2019 September 15, 20:59 GMT (London time)
    
You'll get up to 10 credits for this assignment.

### How to get help
In [ODS Slack](https://opendatascience.slack.com) (if you still don't have access, fill in the [form](https://docs.google.com/forms/d/10HAN5huM996snUKjsNYyT_oOlm2uOsTKulKurb3oiNM/) mentioned on the mlcourse.ai main page), we have a channel **#mlcourse_ai_news** with announcements from the course team.
You can discuss the course content freely in the **#mlcourse_ai** channel (we still have a huge Russian-speaking group, they have a separate channel **#mlcourse_ai_rus**).

Here's how you reply in a thread (press this dialog icon to drill down into a thread):

<img src="../../img/start_a_thread.png" />

Please stick to special threads *a1_q1-5_fall2019* and *a1_q6-10_fall2019* in **#mlcourse_ai_news** for your questions on A1. Help each other without sharing correct code and answers. Our TA **Vadim @vchulski** is there to help (only in the mentioned thread, do not write to him directly).

Lastly, you can save useful messages by pinning them, further you can find pinned items on the top, just below the channel name:

<img src="../../img/pinned_item.png" />

### Assignment 
__There are ten questions about 120 years of Olympic history in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/1JxhQ9Bg4OpM3E5N47ZuRbILgDuMRbvEnUbDMZK8L-NU).__

Download the file `athlete_events.csv` from [here](https://drive.google.com/file/d/1f5v6Z2ayc7h698FG_98wP5x1Y2zZQeox/view?usp=sharing) (scraped by [rgriffin](https://www.randigriffin.com/) from www.sports-reference.com). The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [0]:
import pandas as pd

In [4]:
data = pd.read_csv('https://raw.githubusercontent.com/OzmundSedler/ODS/master/module_1/datasets/athlete_events.csv')
data.head()

   ID                      Name  ...                             Event  Medal
0   1                 A Dijiang  ...       Basketball Men's Basketball    NaN
1   2                  A Lamusi  ...      Judo Men's Extra-Lightweight    NaN
2   3       Gunnar Nielsen Aaby  ...           Football Men's Football    NaN
3   4      Edgar Lindenau Aabye  ...       Tug-Of-War Men's Tug-Of-War   Gold
4   5  Christine Jacoba Aaftink  ...  Speed Skating Women's 500 metres    NaN

[5 rows x 15 columns]

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
ID        271116 non-null int64
Name      271116 non-null object
Sex       271116 non-null object
Age       261642 non-null float64
Height    210945 non-null float64
Weight    208241 non-null float64
Team      271116 non-null object
NOC       271116 non-null object
Games     271116 non-null object
Year      271116 non-null int64
Season    271116 non-null object
City      271116 non-null object
Sport     271116 non-null object
Event     271116 non-null object
Medal     39783 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

__1. How old were the youngest male and female participants of the 1992 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 16 and 15
- 14 and 13 
- 13 and 11
- 11 and 12

In [0]:
male_min = data.loc[(data['Year'] == 1992) & (data['Sex'] == 'M'), "Age"].min()
female_min = data.loc[(data['Year'] == 1992) & (data['Sex'] == 'F'), "Age"].min()

In [15]:
print(f'Youngest male and female participants of the 1992 Olympics were {male_min} and {female_min} years old')

Youngest male and female participants of the 1992 Olympics were 11.0 and 12.0 years old

__2. What was the percentage of male basketball players among all the male participants of the 2012 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 0.2
- 1.5 
- 2.5
- 7.7

In [0]:
all_male_participants = data.loc[(data['Year'] == 2012) & (data['Sex'] == 'M')]

In [0]:
unique_male_participants_count = all_male_participants_sports['Name'].unique().shape[0]
unique_male_basketball_players_count =  all_male_participants_sports.loc[all_male_participants_sports.Sport == 'Basketball']['Name'].unique().shape[0]

In [46]:
print(f'The percentage of male basketball players among all the male participants of the 2012 Olympics is: {(unique_male_basketball_players_count/unique_male_participants_count)*100:.1f}')

The percentage of male basketball players among all the male participants of the 2012 Olympics is: 2.5

__3. What are the mean and standard deviation of height for female tennis players who participated in the 2000 Olympics? Round the answer to the first decimal.__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 171.8 and 6.5
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [0]:
female_height = data.loc[(data['Year'] == 2000) & (data['Sex'] == 'F') & (data['Sport'] == 'Tennis')]['Height']

In [53]:
print(f'The mean of female tennis players who participated in the 2000 Olympics is: { female_height.mean():.1f} and the standard deviation is: {female_height.std():.1f}')

The mean of female tennis players who participated in the 2000 Olympics is: 171.8 and the standard deviation is: 6.5

__4. Find a sportsman who participated in the 2006 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- Judo
- Bobsleigh 
- Skeleton
- Boxing

In [65]:
olympics_2006 = data.loc[data['Year'] == 2006]
olympics_2006.loc[olympics_2006['Weight'].idxmax()]

ID                           4476
Name            Patrick R. Antaki
Sex                             M
Age                            41
Height                        185
Weight                        127
Team                      Lebanon
NOC                           LIB
Games                 2006 Winter
Year                         2006
Season                     Winter
City                       Torino
Sport                    Skeleton
Event     Skeleton Men's Skeleton
Medal                         NaN
Name: 8102, dtype: object

__5. How many times did John Aalberg participate in the Olympics held in different years?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 0
- 1 
- 2
- 3

In [70]:
john = data.loc[(data['Name'] == 'John Aalberg')].drop_duplicates(['Year'])
john.head()

    ID          Name  ...                                     Event  Medal
18   7  John Aalberg  ...  Cross Country Skiing Men's 10 kilometres    NaN
22   7  John Aalberg  ...  Cross Country Skiing Men's 10 kilometres    NaN

[2 rows x 15 columns]

__6. How many gold medals in tennis did sportspeople from the Switzerland team win at the 2008 Olympics? Count every medal from every sportsperson.__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- 0
- 1 
- 2
- 3

In [75]:
switzerland_gold = data.loc[(data['Medal'] == 'Gold')  & (data['Sport'] == 'Tennis') & (data['Team'] == 'Switzerland') & (data['Year'] == 2008)]
switzerland_gold.head()

            ID                Name Sex  ...   Sport                 Event  Medal
67290    34396       Roger Federer   M  ...  Tennis  Tennis Men's Doubles   Gold
257672  129042  Stanislas Wawrinka   M  ...  Tennis  Tennis Men's Doubles   Gold

[2 rows x 15 columns]

__7. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- Yes
- No

In [0]:
medals_olympics_2016 = data.loc[(data['Year'] == 2016)].dropna(subset=['Medal'])

In [88]:
print(medals_olympics_2016.loc[medals_olympics_2016['Team'] == 'Spain'].shape[0])

43

In [89]:
print(medals_olympics_2016.loc[medals_olympics_2016['Team'] == 'Italy'].shape[0])

70

__8. What age category did the fewest and the most participants of the 2008 Olympics belong to?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45) and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [101]:
age_categories = [(15,25),(25,35),(35,45),(45,55)]
unique_participants_olympics_2008 = data.loc[(data['Year'] == 2008)].drop_duplicates(['Name'])

for age_category in age_categories:
  print (f'{age_category[0]} - {age_category[1]} : {unique_participants_olympics_2008.loc[(age_category[0] <= unique_participants_olympics_2008["Age"]) & (unique_participants_olympics_2008["Age"] < age_category[1])].shape[0]}')

15 - 25 : 4776
25 - 35 : 5373
35 - 45 : 630
45 - 55 : 76

__9. Is it true that there were Summer Olympics held in Atlanta? Is it true that there were Winter Olympics held in Squaw Valley?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [103]:
data.loc[(data['City'] == 'Atlanta')].head()

     ID                  Name  ...                                   Event   Medal
32   13    Minna Maarit Aalto  ...              Sailing Women's Windsurfer     NaN
92   30      Pepijn Aardewijn  ...  Rowing Men's Lightweight Double Sculls  Silver
97   33   Mika Lauri Aarnikka  ...         Sailing Men's Two Person Dinghy     NaN
100  36  Stefan Remco Aartsen  ...     Swimming Men's 100 metres Butterfly     NaN
101  36  Stefan Remco Aartsen  ...     Swimming Men's 200 metres Butterfly     NaN

[5 rows x 15 columns]

In [104]:
data.loc[(data['City'] == 'Squaw Valley')].head()

     ID              Name  ...                              Event  Medal
83   24  Nils Egil Aaness  ...     Speed Skating Men's 500 metres    NaN
84   24  Nils Egil Aaness  ...   Speed Skating Men's 1,500 metres    NaN
113  40   Roald Edgar Aas  ...   Speed Skating Men's 1,500 metres   Gold
114  40   Roald Edgar Aas  ...   Speed Skating Men's 5,000 metres    NaN
115  40   Roald Edgar Aas  ...  Speed Skating Men's 10,000 metres    NaN

[5 rows x 15 columns]

__10. What is the absolute difference between the number of unique sports at the 1986 Olympics and 2002 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- 3 
- 10
- 15
- 27

In [106]:
data.loc[(data['Year'] == 2002)].drop_duplicates(['Sport']).shape[0] - data.loc[(data['Year'] == 1986)].drop_duplicates(['Sport']).shape[0]

15

That's it! Now go and do 30 push-ups! :)